*, body {
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: normal;
    color: #7E7E82;
}

body {
    background-color: #F8F8F8;
}

.br {
    width: 100%;
    height: 1px;
    background-color: #D9FFF5;
}

.swiper {
    width: 100%;
    min-height: 136px;
}

.swiper-wrapper {
    padding: 16px 24px;
}

.swiper-slide {
    display: flex;
    min-width: 224px;
    width: 224px;
    height: 72px;
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}

.swiper-pagination {
    --swiper-pagination-top: 100px;
    --swiper-pagination-bullet-size: 12px;
    --swiper-theme-color: #B5B6BC;
    --swiper-pagination-bullet-inactive-color: #DDD;
    --swiper-pagination-bullet-inactive-opacity: 1;
}

.section__header {
    display: flex;
    align-items: center;
    height: 56px;
    background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
}

.section__title {
    text-transform: uppercase;
    padding: 16px 24px;
}

.show__wrapper {
    display: flex;
    padding-left: 24px;
    cursor: pointer;
}

.show__text {
    font-weight: 500;
    color: #1B1C21;
    padding-left: 9px;
}

.swiper__item {
    margin: 16px;
}

.swiper__arrow {
    width: 40px;
    height: 40px;
    background-image: url(img/go.png);
}

@media screen and (max-width: 768px) {
    .show {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .swiper-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .swiper-slide {
        flex: 0 0 calc(33.33% - 30px);
        margin: 12px 8px;
    }
    
    .swiper-slide {
        flex-shrink: 1;
    }

    .swiper__tablet_hidden {
        display: none;
    }
}

@media screen and (min-width: 1120px) {
    .swiper-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .swiper-slide {
        flex: 0 0 calc(25% - 30px);
        margin: 12px 8px;
    }

    .swiper__tablet_hidden {
        display: flex;
    }

    .swiper__desktop_hidden {
        display: none;
    }
}